# Slaveserver configuration
include "/etc/bind/named.conf.local";
include "/etc/bind/named.conf.default-zones";
zone "freifunk-lipperland.de." IN {
	type slave;
	masters {
{% for master in bind.ffms_zone_masters %}
		{{master}};
{% endfor %}
	};
};
zone "servers.freifunk-lipperland.de." IN {
	type slave;
	masters {
{% for master in bind.ffms_zone_masters %}
		{{master}};
{% endfor %}
	};
};
zone "services.freifunk-lipperland.de." IN {
	type slave;
	masters {
{% for master in bind.ffms_zone_masters %}
		{{master}};
{% endfor %}
	};
};
zone "knoten.freifunk-lipperland.de." IN {
	type slave;
	masters {
{% for master in bind.ffms_zone_masters %}
		{{master}};
{% endfor %}
	};
};
zone "freifunk-lipper.de." IN {
	type slave;
	masters {
{% for master in bind.ffms_zone_masters %}
		{{master}};
{% endfor %}
	};
};
zone "gw.freifunk-lipper.de." IN {
	type slave;
	masters {
{% for master in bind.ffms_zone_masters %}
		{{master}};
{% endfor %}
	};
};
